<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('付款记录列表')"/>
</head>
<style>
    .selectHeight {
        height: 34px !important;
    }

    .inputHeight {
        line-height: 24px;
        width: 80px !important;
    }
</style>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p class="inputHeight">对账单号：</p>
                            <input type="text" class="selectHeight" name="reconciliationNo"/>
                        </li>
                        <li>
                            <p class="inputHeight">客户名称：</p>
                            <select name="cusCode" class="form-control col-sm-12 select2-selection--multiple selectHeight" th:with="cusList=${@cus.getCus()}" onchange="$.table.search()">
                                <option value="">请选择</option>
                                <option th:each="c:${cusList}" th:value="${c.cusCode}" th:text="${c.cusName}"></option>
                            </select>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="smt:record:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('smt:record:edit')}]];
    var removeFlag = [[${@permission.hasPermi('smt:record:remove')}]];
    var paymentWayDatas = [[${@dict.getType('smt_payment_way')}]];
    var prefix = ctx + "smt/paymentRecord";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "付款记录",
            columns: [{
                checkbox: true
            },
                {
                    title: '序号',
                    formatter: function (a, b, c) {
                        return ++c;
                    }
                },
                {
                    field: 'reconciliationNo',
                    title: '对账单号'
                },
                {
                    field: 'cusCode',
                    title: '客户代码'
                },
                {
                    field: 'paymentAmount',
                    title: '付款金额'
                },
                {
                    field: 'paymentWay',
                    title: '付款方式',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(paymentWayDatas, value);
                    }
                },
                {
                    field: 'paymentName',
                    title: '付款对象户名'
                },
                {
                    field: 'paymentNumber',
                    title: '付款账号'
                },
                {
                    field: 'paymentTime',
                    title: '付款日期',
                    formatter: function (value, row, index) {
                        return row.paymentTime.substring(0, 10);
                    }
                },
                {
                    field: 'createBy',
                    title: '创建者'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editPaymentRecord(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>