<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增客户付款')"/>
    <th:block th:include="include :: datetimepicker-css"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-reconciliation-edit" th:object="${smtReconciliation}">
        <div class="form-group">
            <label class="col-sm-3 control-label">对账单号：</label>
            <div class="col-sm-8">
                <input name="reconciliationNo" id="autoReconciliationNo" th:field="*{reconciliationNo}" class="form-control" type="text" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">客户名称：</label>
            <div class="col-sm-6">
                <select name="cusCode" disabled="disabled" id="cusCode" class="form-control select2-selection--multiple" th:with="cusList=${@cus.getCus()}" required>
                    <option value="">===请选择===</option>
                    <option th:each="c:${cusList}" th:value="${c.cusCode}" th:text="${c.cusName}" th:selected="${smtReconciliation.cusCode eq c.cusCode}"></option>
                </select>
            </div>
            <div class="col-sm-2" style="height: 35px;">
                <input class="form-control" th:field="*{cusCode}" type="text" id="code" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">费用类型：</label>
            <div class="col-sm-8">
                <select name="feeType" disabled class="form-control" th:with="type=${@dict.getType('smt_fee_type')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:selected="${smtReconciliation.feeType eq dict.dictValue}"></option>
                </select>

            </div>
        </div>

        <div class="form-group" style="margin-bottom: 30px;">
            <label class="col-sm-3 control-label">确认金额：</label>
            <div class="col-sm-3">
                <input th:field="*{confirmAmount}" id="confirmAmount" class="form-control" type="number" readonly>
            </div>
            <span class="col-sm-5" style="color: gold;font-size: 18px;height: 34px;line-height: 34px;" id="bigCapital3"></span>
        </div>

        <div class="form-group" style="margin-bottom: 30px;">
            <label class="col-sm-3 control-label">已付金额：</label>
            <div class="col-sm-3">
                <input th:field="*{paidAmount}" id="paidAmount" class="form-control" type="number" readonly>
            </div>
            <span class="col-sm-5" style="color: gold;font-size: 18px;height: 34px;line-height: 34px;" id="bigCapital"></span>
        </div>

        <div class="form-group" style="margin-bottom: 30px;">
            <label class="col-sm-3 control-label">欠<span style="margin-right: 26px"></span>款：</label>
            <div class="col-sm-3">
                <input th:field="*{arrears}" id="arrears" class="form-control" type="number" readonly>
            </div>
            <span class="col-sm-5" style="color: gold;font-size: 18px;height: 34px;line-height: 34px;" id="bigCapital2"></span>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>付款日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input name="paymentTime" class="form-control" placeholder="yyyy-MM-dd" type="text" required>
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 30px;">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>付款金额：</label>
            <div class="col-sm-3">
                <input name="paymentAmount" class="form-control" placeholder="请输入付款金额" type="number" required onkeyup="changeBigCapital(this)">
            </div>
            <span class="col-sm-5" style="color: gold;font-size: 18px;height: 34px;line-height: 34px;" id="bigCapitalPaymentAmount"></span>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>付款方式：</label>
            <div class="col-sm-8">
                <select name="paymentWay" class="form-control" th:with="type=${@dict.getType('smt_payment_way')}" required>
                    <option value="">请选择</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>对方户名：</label>
            <div class="col-sm-8">
                <input name="paymentName" class="form-control" placeholder="请输入对方户名" type="text" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>付款账号：</label>
            <div class="col-sm-8">
                <input  name="paymentNumber" class="form-control" placeholder="请输入付款账号" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备<span style="margin-right: 26px"></span>注：</label>
            <div class="col-sm-8">
                <textarea id="remark" name="remark" class="form-control"></textarea>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script type="text/javascript">
    var prefix = ctx + "smt/paymentRecord";
    //回显金额
    loadCapital();
    $("#form-reconciliation-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-reconciliation-edit').serialize());
        }
    }

    $("input[name='paymentTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });


    //页面加载，如果确认金额和扣款金额有值，则提示
    function loadCapital() {
        let a = $("#confirmAmount").val();
        let b = $("#paidAmount").val();
        let c = $("#arrears").val();
        if (a > 0) {
            $("#bigCapital3").html(digitUppercase(a));
        }
        if (b > 0) {
            $("#bigCapital").html(digitUppercase(b));
        }
        if (c > 0) {
            $("#bigCapital2").html(digitUppercase(c));
        }
    }

    //填写对账金额键盘弹起转换金额大写提示
    function changeBigCapital(obj) {
        let val = $(obj).val();
        //如果金额有效并且金额大于0的时候转换
        if (null != val && val > 0) {
            let a = digitUppercase(val);
            $("#bigCapitalPaymentAmount").html(a);
        } else {
            $("#bigCapitalPaymentAmount").html("");
        }
    }
</script>
</body>
</html>