<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('客户付款列表')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<style>
    .selectHeight {
        height: 34px !important;
    }

    .inputHeight {
        line-height: 24px;
        width: 80px !important;
    }
</style>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p class="inputHeight">对账单号：</p>
                            <input type="text" class="selectHeight" name="reconciliationNo"/>
                        </li>
                        <li>
                            <p class="inputHeight">客户名称：</p>
                            <select name="cusCode" class="form-control col-sm-12 select2-selection--multiple selectHeight" th:with="cusList=${@cus.getCus()}" onchange="$.table.search()">
                                <option value="">请选择</option>
                                <option th:each="c:${cusList}" th:value="${c.cusCode}" th:text="${c.cusName}"></option>
                            </select>
                        </li>

                        <li>
                            <p class="inputHeight">是否结清：</p>
                            <select name="isSettle" class="form-control col-sm-12 select2-selection--multiple selectHeight" onchange="$.table.search()">
                                <option value="">请选择</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </li>

                        <li class="select-time">
                            <p class="inputHeight">对账年月：</p>
                            <input type="text" name="startTime" class="selectHeight" placeholder="账单月份"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="smt:reconciliation:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('smt:reconciliation:edit')}]];
    var removeFlag = [[${@permission.hasPermi('smt:reconciliation:remove')}]];
    var auditFlag = [[${@permission.hasPermi('smt:reconciliation:audit')}]];
    var feeTypeDatas = [[${@dict.getType('smt_fee_type')}]];
    var prefix = ctx + "smt/reconciliation";

    $("input[name='startTime']").datetimepicker({
        format: 'yyyy-MM',
        weekStart: 1,
        autoclose: true,
        startView: 3,
        minView: 3,
        forceParse: false,
    });


    $(function () {
        var options = {
            url: prefix + "/paymentList",
            createUrl: prefix + "/addPayment",
            updateUrl: prefix + "/editPayment/{id}",
            cleanPaymentUrl: prefix + "/cleanPayment/",
            modalName: "客户付款",
            columns: [
                {
                    title: '序号',
                    formatter: function (a, b, c) {
                        return ++c;
                    }
                },
                {
                    field: 'reconciliationNo',
                    title: '对账单号'
                },
                {
                    field: 'cusCode',
                    title: '客户代码'
                },
                {
                    field: 'reconciliationTime',
                    title: '对账年月',
                    formatter: function (value, row, index) {
                        return row.reconciliationTime.substring(0, 7);
                    }
                },
                {
                    field: 'feeType',
                    title: '费用类型',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(feeTypeDatas, value);
                    }
                },
                {
                    field: 'confirmAmount',
                    title: '客户确认金额'
                },
                {
                    field: 'paidAmount',
                    title: '已付金额'
                },
                {
                    field: 'arrears',
                    title: '欠款'
                },
                {
                    field: 'isSettle',
                    title: '是否结清',
                    formatter: function (value, row, index) {
                        return value=="0"?"否":"是";
                    }
                },
                {
                    field: 'createBy',
                    title: '经手人'
                },
                {
                    field: 'createTime',
                    title: '日期'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (row.isSettle=="0"){
                            actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editPayment(\'' + row.id + '\')"><i class="fa fa-plus"></i> 付款添加</a> ');
                            actions.push('<a class="btn btn-success btn-xs ' + auditFlag + '" href="javascript:void(0)" onclick="enable(\'' + row.id + '\')"><i class="fa fa-thumbs-o-up"></i> 清账</a>');
                        }else{
                            actions.push('<a class="btn btn-success btn-xs disabled' + editFlag + '" href="javascript:void(0)"><i class="fa fa-plus"></i> 账单已清</a> ');
                            actions.push('<a class="btn btn-success btn-xs ' + auditFlag + '" href="javascript:void(0)" onclick="disable(\'' + row.id + '\')"><i class="fa fa-thumbs-o-down"></i> 取消</a>');
                        }
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });


    /* 对账单取消结清 */
    function disable(userId) {
        $.modal.confirm("确认取消结清对账单？", function () {
            $.operate.post(prefix + "/changeStatus", {"id": userId, "isSettle": 0});
        })
    }

    /* 结清对账单操作 */
    function enable(userId) {
        $.modal.confirm("确认结清此对账单吗？", function () {
            $.operate.post(prefix + "/changeStatus", {"id": userId, "isSettle": 1});
        })
    }

</script>
</body>
</html>