<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('DZL仓记录列表')"/>
</head>

<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <input type="text" id="deliveryNo" th:value="${deliveryNo}">
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:src="@{/ruoyi/jqGrid/4.6/js/jquery.jqGrid.js}"></script>
<script th:src="@{/ruoyi/jqGrid/4.6/i18n/grid.locale-cn.js}"></script>
<link th:href="@{/ruoyi/jqGrid/4.6/css/ui.jqgrid.css}">
<script th:inline="javascript">
    $(function () {
        let no = $("#deliveryNo").val();
        $.ajax({
            url: ctx + "smt/delivery/getDeliveryRecordByNo",
            data: {
                "deliveryNo": no
            },
            type: "post",
            processData: false,
            contentType: false,
            success: function (result) {

                window.location.href = ctx + "smt/delivery/rePrint";
            }
        })
    });

</script>
</body>
</html>