<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('仓库发料列表')"/>
</head>
<style>
    .selectHeight {
        height: 34px !important;
    }

    .inputHeight {
        line-height: 24px;
        width: 80px !important;
    }
</style>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p class="inputHeight">客户名称：</p>
                            <select name="cusCode" class="form-control select2-selection--multiple selectHeight" th:with="cusList=${@cus.getCus()}" onchange="$.table.search()">
                                <option value="">请选择</option>
                                <option th:each="c:${cusList}" th:value="${c.cusCode}" th:text="${c.cusName}"></option>
                            </select>
                        </li>
                        <li>
                            <p class="inputHeight">BOM名称：</p>
                            <input type="text" class="selectHeight" name="bomName"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    let deliveryFlag = [[${@permission.hasPermi('smt:delivery:add')}]];
    let prefix = ctx + "smt/delivery";

    $(function () {
        var options = {
            url: prefix + "/warehouseList",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "客户bom信息",
            columns: [{
                title: '序号',
                formatter: function (a, b, c) {
                    return ++c;
                }
            },
                {
                    field: 'id',
                    title: '序号id',
                    visible: false
                },
                {
                    field: 'cusName',
                    title: '客户名称'
                },
                {
                    field: 'bomName',
                    title: 'BOM名称'
                },
                {
                    field: 'bomPoint',
                    title: '总点数'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + deliveryFlag + '" href="javascript:void(0)" onclick="delivery(\'' + row.id + '\')"><i class="fa fa-edit"></i>发料</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });


    // 新增访问地址
    function delivery(id) {
        let url = prefix + "/deliveryBom/" + id;
        $.modal.open("仓库发料", url, "1100", "750");
    }
</script>
</body>
</html>