<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.smt.cus.mapper.SmtCusMapper">

    <resultMap type="SmtCus" id="SmtCusResult">
        <result property="id"    column="id"    />
        <result property="cusCode"    column="cus_code"    />
        <result property="cusName"    column="cus_name"    />
        <result property="cusContacts"    column="cus_contacts"    />
        <result property="cusTel"    column="cus_tel"    />
        <result property="cusStatement"    column="cus_statement"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectSmtCusVo">
        select id, cus_code, cus_name, cus_contacts, cus_tel, cus_statement, status, create_by, create_time, update_by, update_time, remark, del_flag from smt_cus
    </sql>

    <select id="selectSmtCusList" parameterType="SmtCus" resultMap="SmtCusResult">
        <include refid="selectSmtCusVo"/>
        <where>
            <if test="cusCode != null "> and cus_code = #{cusCode}</if>
            <if test="cusName != null  and cusName != ''"> and cus_name like concat('%', #{cusName}, '%')</if>
            <if test="cusContacts != null  and cusContacts != ''"> and cus_contacts = #{cusContacts}</if>
            <if test="cusTel != null  and cusTel != ''"> and cus_tel = #{cusTel}</if>
            <if test="cusStatement != null "> and cus_statement = #{cusStatement}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectSmtCusById" parameterType="Integer" resultMap="SmtCusResult">
        <include refid="selectSmtCusVo"/>
        where id = #{id}
    </select>

    <!--验证客户代码唯一性-->
    <select id="validateUniqueByCode" resultType="java.lang.Integer">
        select count(1) from smt_cus
         where cus_code = #{code} and del_flag = 0
    </select>

    <insert id="insertSmtCus" parameterType="SmtCus" useGeneratedKeys="true" keyProperty="id">
        insert into smt_cus
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cusCode != null ">cus_code,</if>
            <if test="cusName != null  and cusName != ''">cus_name,</if>
            <if test="cusContacts != null  and cusContacts != ''">cus_contacts,</if>
            <if test="cusTel != null  and cusTel != ''">cus_tel,</if>
            <if test="cusStatement != null ">cus_statement,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cusCode != null ">#{cusCode},</if>
            <if test="cusName != null  and cusName != ''">#{cusName},</if>
            <if test="cusContacts != null  and cusContacts != ''">#{cusContacts},</if>
            <if test="cusTel != null  and cusTel != ''">#{cusTel},</if>
            <if test="cusStatement != null ">#{cusStatement},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateSmtCus" parameterType="SmtCus">
        update smt_cus
        <trim prefix="SET" suffixOverrides=",">
            <if test="cusCode != null ">cus_code = #{cusCode},</if>
            <if test="cusName != null  and cusName != ''">cus_name = #{cusName},</if>
            <if test="cusContacts != null  and cusContacts != ''">cus_contacts = #{cusContacts},</if>
            <if test="cusTel != null  and cusTel != ''">cus_tel = #{cusTel},</if>
            <if test="cusStatement != null ">cus_statement = #{cusStatement},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSmtCusById" parameterType="Integer">
        delete from smt_cus where id = #{id}
    </delete>

    <delete id="deleteSmtCusByIds" parameterType="String">
        delete from smt_cus where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>