<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.smt.entry.mapper.SmtOrderEntryMapper">
    <!--订单入库mapper-->
    <resultMap type="SmtOrderEntry" id="SmtOrderEntryResult">
        <result property="id" column="id"/>
        <result property="cusCode" column="cus_code"/>
        <result property="orderNo" column="order_no"/>
        <result property="entryTime" column="entry_time"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <resultMap type="SmtOrderEntryVO" id="SmtOrderEntryResultVO">
        <result property="id" column="id"/>
        <result property="entryId" column="entry_id"/>
        <result property="orderType" column="order_type"/>
        <result property="bomId" column="bom_id"/>
        <result property="dzlName" column="dzl_name"/>
        <result property="bomName" column="bom_name"/>
        <result property="typeName" column="type_name"/>
        <result property="typeNo" column="type_no"/>
        <result property="orderQty" column="order_qty"/>
        <result property="cusCode" column="cus_code"/>
        <result property="cusName" column="cus_name"/>
        <result property="orderNo" column="order_no"/>
        <result property="entryTime" column="entry_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSmtOrderEntryVo">
        select id, cus_code, order_no, entry_time, status, create_by, create_time, update_by, update_time, remark, del_flag from smt_order_entry
    </sql>

    <select id="selectSmtOrderEntryList" parameterType="SmtOrderEntry" resultMap="SmtOrderEntryResult">
        <include refid="selectSmtOrderEntryVo"/>
        <where>
            <if test="cusCode != null ">and cus_code = #{cusCode}</if>
            <if test="orderNo != null  and orderNo != ''">and order_no like concat('%', #{orderNo}, '%')</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
            <if test="params.beginEntryTime != null and params.beginEntryTime != ''"><!-- 开始时间检索 -->
                and date_format(entry_time,'%y%m%d') &gt;= date_format(#{params.beginEntryTime},'%y%m%d')
            </if>
            <if test="params.endEntryTime != null and params.endEntryTime != ''"><!-- 结束时间检索 -->
                and date_format(entry_time,'%y%m%d') &lt;= date_format(#{params.endEntryTime},'%y%m%d')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectSmtOrderEntryById" parameterType="Integer" resultMap="SmtOrderEntryResult">
        <include refid="selectSmtOrderEntryVo"/>
        where id = #{id}
    </select>

    <!--FPC仓备份列表,解决分页问题-->
    <!--订单入库全部信息列表-->
    <!--    <select id="selectSmtEntryAllList" resultType="com.ruoyi.project.smt.entry.vo.SmtOrderEntryVO" resultMap="SmtOrderEntryResultVO">-->
    <!--        SELECT-->
    <!--        e.cus_code,-->
    <!--        e.order_no,-->
    <!--        e.entry_time,-->
    <!--        e.create_by,-->
    <!--        e.create_time,-->
    <!--        b.bom_name,-->
    <!--        el.id,-->
    <!--        el.entry_id,-->
    <!--        el.order_type,-->
    <!--        el.bom_id,-->
    <!--        el.order_qty,-->
    <!--        el.remark-->
    <!--        FROM-->
    <!--        `smt_order_entry` e-->
    <!--        LEFT JOIN `smt_order_entry_line` el ON e.id = el.entry_id AND el.del_flag = 0-->
    <!--        LEFT join `smt_bom` b on el.bom_id = b.id and b.del_flag = 0-->
    <!--        WHERE-->
    <!--        e.del_flag = 0-->
    <!--        <if test="cusCode != null ">and e.cus_code = #{cusCode}</if>-->
    <!--        <if test="bomName != null  and bomName != ''">and b.bom_name like concat('%',#{bomName},'%')</if>-->
    <!--        <if test="orderType != null  and orderType != ''">and el.order_type = #{orderType}</if>-->
    <!--        order by e.create_time desc-->
    <!--    </select>-->
    <select id="selectSmtEntryAllList" resultType="com.ruoyi.project.smt.entry.vo.SmtOrderEntryVO" resultMap="SmtOrderEntryResultVO">
        SELECT
        record.cus_code,
        cus.cus_name,
        record.order_no,
        record.entry_time,
        record.create_by,
        record.create_time,
        record.bom_name,
        record.id,
        record.entry_id,
        record.order_type,
        record.bom_id,
        record.remark,
        record.order_qty
        FROM
        (
        SELECT
        a.cus_code,
        a.order_no,
        a.entry_time,
        a.create_by,
        a.create_time,
        a.bom_name,
        a.id,
        a.entry_id,
        a.order_type,
        a.bom_id,
        a.remark,
        ( a.order_qty - IFNULL( sum( b.delivery_qty ), 0 ) ) AS order_qty
        FROM
        (
        SELECT
        e.cus_code,
        e.order_no,
        e.entry_time,
        e.create_by,
        e.create_time,
        b.bom_name,
        el.id,
        el.entry_id,
        el.order_type,
        el.bom_id,
        el.order_qty,
        el.remark
        FROM
        `smt_order_entry` e
        LEFT JOIN `smt_order_entry_line` el ON e.id = el.entry_id
        AND el.del_flag = 0
        LEFT JOIN `smt_bom` b ON el.bom_id = b.id
        AND b.del_flag = 0
        WHERE
        e.del_flag = 0
        AND el.order_type = 1
        ORDER BY
        e.create_time DESC
        ) a
        LEFT JOIN smt_delivery_record b ON a.cus_code = b.cus_code
        AND a.order_type = b.order_type
        AND a.bom_id = b.bom_id
        AND a.order_no = b.order_no
        GROUP BY
        a.cus_code,
        a.order_type,
        a.bom_id,
        a.order_no,
        a.id,
        a.entry_time,
        a.create_by,
        a.create_time,
        a.remark
        ) record
        LEFT JOIN smt_cus cus ON cus.cus_code = record.cus_code
        WHERE
        record.order_qty >0
        <if test="cusCode != null and cusCode != ''">and record.cus_code = #{cusCode}</if>
        <if test="orderNo != null and orderNo != ''">and record.order_no = #{orderNo}</if>
        <if test="bomName != null and bomName != ''">and record.bom_name like concat('%',#{bomName},'%')</if>
        order by record.create_time desc
    </select>

    <select id="selectSmtEntryAllTableList" resultType="com.ruoyi.project.smt.entry.vo.SmtOrderEntryVO" resultMap="SmtOrderEntryResultVO">
        SELECT
        *
        FROM
        (
        SELECT
        e.cus_code,
        cus.cus_name,
        e.order_no,
        e.entry_time,
        e.create_by,
        e.create_time,
        el.id,
        el.entry_id,
        el.order_type,
        ( CASE WHEN el.order_type = 1 THEN 'FPC' ELSE ( SELECT type_name FROM smt_dzl WHERE id = el.bom_id LIMIT 1 ) END ) AS type_name,
        (
        CASE

        WHEN el.order_type = 1 THEN
        ( SELECT bom_name FROM smt_bom WHERE id = el.bom_id LIMIT 1 ) ELSE ( SELECT dzl_name FROM smt_dzl WHERE id = el.bom_id LIMIT 1 )
        END
        ) AS type_no,
        el.bom_id,
        el.order_qty,
        el.remark
        FROM
        `smt_order_entry` e
        LEFT JOIN `smt_order_entry_line` el ON e.id = el.entry_id
        AND el.del_flag = 0
        LEFT JOIN smt_cus cus ON cus.cus_code = e.cus_code
        ) record
        where 1=1
        <if test="cusCode != null and cusCode != ''">and record.cus_code = #{cusCode}</if>
        <if test="orderNo != null and orderNo != ''">and record.order_no = #{orderNo}</if>
        <if test="typeNo != null and typeNo != ''">and record.type_no like concat('%',#{typeNo},'%')</if>
        order by record.create_time desc
    </select>


    <!--原有电子料仓集合备份,解决分页问题-->
    <!--查询所有电子料集合-->
    <!--    <select id="selectSmtEntryAllDzlList" resultType="com.ruoyi.project.smt.entry.vo.SmtOrderEntryVO" resultMap="SmtOrderEntryResultVO">-->
    <!--        SELECT-->
    <!--        e.cus_code,-->
    <!--        el.order_type,-->
    <!--        el.bom_id,-->
    <!--        sum(el.order_qty) as sumOrderQty,-->
    <!--        d.dzl_name,-->
    <!--        d.type_name-->
    <!--        FROM-->
    <!--        `smt_order_entry` e-->
    <!--        LEFT JOIN `smt_order_entry_line` el ON e.id = el.entry_id-->
    <!--        AND el.del_flag = 0-->
    <!--        LEFT JOIN smt_dzl d ON el.bom_id = d.id-->
    <!--        AND d.del_flag = 0-->
    <!--        WHERE-->
    <!--        e.del_flag = 0-->
    <!--        <if test="cusCode != null ">and e.cus_code = #{cusCode}</if>-->
    <!--        <if test="dzlName != null  and dzlName != ''">and d.dzl_name like concat('%',#{dzlName},'%')</if>-->
    <!--        <if test="orderType != null  and orderType != ''">and el.order_type = #{orderType}</if>-->
    <!--        GROUP BY cus_code,bom_id-->
    <!--    </select>-->
    <select id="selectSmtEntryAllDzlList" resultType="com.ruoyi.project.smt.entry.vo.SmtOrderEntryVO" resultMap="SmtOrderEntryResultVO">
        SELECT
        record.cus_code,
        cus.cus_name,
        record.order_type,
        record.bom_id,
        record.dzl_name,
        record.type_name,
        record.sumOrderQty
        FROM
        (
        SELECT
        a.cus_code,
        a.order_type,
        a.bom_id,
        d.dzl_name,
        d.type_name,
        IFNULL( sum( dr.delivery_qty ), 0 ),
        a.sumOrderQty - IFNULL( sum( dr.delivery_qty ), 0 ) AS sumOrderQty
        FROM
        (
        SELECT
        e.cus_code,
        el.order_type,
        el.bom_id,
        sum( el.order_qty ) AS sumOrderQty
        FROM
        `smt_order_entry` e
        LEFT JOIN `smt_order_entry_line` el ON e.id = el.entry_id
        AND el.del_flag = 0 --

        WHERE
        e.del_flag = 0
        AND el.order_type = 2
        GROUP BY
        cus_code,
        bom_id
        ) a
        LEFT JOIN smt_delivery_record dr ON dr.bom_id = a.bom_id
        AND dr.order_type = 2
        AND dr.cus_code = a.cus_code
        LEFT JOIN smt_dzl d ON d.id = a.bom_id
        GROUP BY
        a.bom_id,
        a.cus_code
        ) record
        left join smt_cus cus on cus.cus_code = record.cus_code
        WHERE
        record.sumOrderQty >0
        <if test="cusCode != null ">and record.cus_code = #{cusCode}</if>
        <if test="dzlName != null  and dzlName != ''">and record.dzl_name like concat('%',#{dzlName},'%')</if>
        <if test="orderType != null  and orderType != ''">and record.order_type = #{orderType}</if>
    </select>


    <!--查询入库数量-->
    <select id="getOrderQty" resultType="java.lang.Integer">
        SELECT
          order_qty
        from (
            SELECT
                cus_code,bom_id,order_type,sum(order_qty) as order_qty
            FROM
                `smt_order_entry` e
                LEFT JOIN `smt_order_entry_line` el ON e.id = el.entry_id 	AND el.del_flag = 0
                WHERE e.del_flag = 0
                group by cus_code,bom_id,order_type
            ) a
            where a.cus_code = #{cusCode}
            and a.order_type = #{orderType} and a.bom_id = #{bomId}
    </select>

    <!--物料台账[查询电子料来料(入库)统计记录]-->
    <select id="dzlEntryList" resultType="com.ruoyi.project.smt.entry.vo.SmtOrderEntryVO" resultMap="SmtOrderEntryResultVO">
        SELECT
        e.cus_code,
        e.order_no,
        e.entry_time,
        l.bom_id,
        d.dzl_name,
        l.order_qty
        FROM
        `smt_order_entry` e
        LEFT JOIN smt_order_entry_line l ON e.id = l.entry_id
        AND l.del_flag = 0
        left join smt_dzl d on d.id = l.bom_id
        WHERE
        e.del_flag = 0
        AND l.order_type = 2
        <if test="cusCode != null ">and e.cus_code = #{cusCode}</if>
        <if test="bomId != null ">and l.bom_id = #{bomId}</if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(e.entry_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(e.entry_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        ORDER BY
        e.cus_code,
        l.bom_id,
        e.entry_time
    </select>

    <insert id="insertSmtOrderEntry" parameterType="SmtOrderEntry" useGeneratedKeys="true" keyProperty="id">
        insert into smt_order_entry
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cusCode != null ">cus_code,</if>
            <if test="orderNo != null  and orderNo != ''">order_no,</if>
            <if test="entryTime != null ">entry_time,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cusCode != null ">#{cusCode},</if>
            <if test="orderNo != null  and orderNo != ''">#{orderNo},</if>
            <if test="entryTime != null ">#{entryTime},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateSmtOrderEntry" parameterType="SmtOrderEntry">
        update smt_order_entry
        <trim prefix="SET" suffixOverrides=",">
            <if test="cusCode != null ">cus_code = #{cusCode},</if>
            <if test="orderNo != null  and orderNo != ''">order_no = #{orderNo},</if>
            <if test="entryTime != null ">entry_time = #{entryTime},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            remark = #{remark},
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSmtOrderEntryById" parameterType="Integer">
        delete from smt_order_entry where id = #{id}
    </delete>

    <delete id="deleteSmtOrderEntryByIds" parameterType="String">
        delete from smt_order_entry where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>