<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.smt.paymentrecord.mapper.SmtPaymentRecordMapper">

    <resultMap type="SmtPaymentRecord" id="SmtPaymentRecordResult">
        <result property="id" column="id"/>
        <result property="reconciliationNo" column="reconciliation_no"/>
        <result property="paymentAmount" column="payment_amount"/>
        <result property="paymentWay" column="payment_way"/>
        <result property="paymentName" column="payment_name"/>
        <result property="paymentNumber" column="payment_number"/>
        <result property="paymentTime" column="payment_time"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>


    <resultMap type="SmtPaymentRecordVO" id="SmtPaymentRecordVOResult">
        <result property="id" column="id"/>
        <result property="reconciliationNo" column="reconciliation_no"/>
        <result property="paymentAmount" column="payment_amount"/>
        <result property="paymentWay" column="payment_way"/>
        <result property="paymentName" column="payment_name"/>
        <result property="paymentNumber" column="payment_number"/>
        <result property="paymentTime" column="payment_time"/>
        <result property="status" column="status"/>

        <result property="cusCode" column="cus_code"/>
        <result property="reconciliationTime" column="reconciliation_time"/>
        <result property="feeType" column="fee_type"/>
        <result property="reconciliationAmount" column="reconciliation_amount"/>
        <result property="isBack" column="is_back"/>
        <result property="isSettle" column="is_settle"/>
        <result property="confirmAmount" column="confirm_amount"/>
        <result property="deductionAmount" column="deduction_amount"/>

        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectSmtPaymentRecordVo">
        select id, reconciliation_no, payment_amount, payment_way, payment_name, payment_number, payment_time, status, create_by, create_time, update_by, update_time, remark, del_flag from smt_payment_record
    </sql>

    <select id="selectSmtPaymentRecordList" parameterType="SmtPaymentRecord" resultMap="SmtPaymentRecordResult">
        <include refid="selectSmtPaymentRecordVo"/>
        <where>
            <if test="reconciliationNo != null ">and reconciliation_no = #{reconciliationNo}</if>
            <if test="paymentAmount != null ">and payment_amount = #{paymentAmount}</if>
            <if test="paymentWay != null  and paymentWay != ''">and payment_way = #{paymentWay}</if>
            <if test="paymentName != null  and paymentName != ''">and payment_name like concat('%', #{paymentName}, '%')</if>
            <if test="paymentTime != null ">and payment_time = #{paymentTime}</if>
            <if test="status != null  and status != ''">and status = #{status}</if>
        </where>
    </select>

    <!--查询付款记录表格列表-->
    <select id="selectSmtPaymentRecordVOList" resultType="com.ruoyi.project.smt.paymentrecord.vo.SmtPaymentRecordVO" resultMap="SmtPaymentRecordVOResult">
        SELECT
        record.id,
        record.reconciliation_no,
        record.payment_amount,
        record.payment_way,
        record.payment_name,
        record.payment_number,
        record.payment_time,
        sr.cus_code,
        sr.reconciliation_time,
        sr.fee_type,
        sr.reconciliation_amount,
        sr.STATUS,
        sr.is_back,
        sr.is_settle,
        sr.confirm_amount,
        sr.deduction_amount,
        record.create_by,
        record.create_time,
        record.update_by,
        record.update_time,
        record.remark,
        record.del_flag
        FROM
        `smt_payment_record` record
        LEFT JOIN smt_reconciliation sr ON record.reconciliation_no = sr.reconciliation_no
        <where>
            <if test="reconciliationNo != null ">and record.reconciliation_no = #{reconciliationNo}</if>
            <if test="cusCode != null ">and sr.cus_code = #{cusCode}</if>
        </where>
        order by create_time desc
    </select>


    <select id="selectSmtPaymentRecordById" parameterType="Integer" resultMap="SmtPaymentRecordResult">
        <include refid="selectSmtPaymentRecordVo"/>
        where id = #{id}
    </select>

    <!--对账单号查询所有客户付款汇总付款金额-->
    <select id="selectSumPaymentAmount" resultType="java.math.BigDecimal">
        SELECT
	      sum( payment_amount )
        FROM
	      `smt_payment_record`
        WHERE
	      `status` = '0'
	      and reconciliation_no = #{id}
        GROUP BY reconciliation_no
    </select>

    <!--查询客户付款记录信息集合-->
    <select id="getPaymentRecordList" resultType="com.ruoyi.project.smt.paymentrecord.domain.SmtPaymentRecord">
            SELECT
                r.reconciliation_time as reconciliationTime,
                r.fee_type AS feeType,
                pr.reconciliation_no AS reconciliationNo,
                pr.payment_time AS paymentTime,
                pr.create_time AS createTime,
                pr.payment_amount AS paymentAmount,
                pr.remark
            FROM
            `smt_payment_record` pr
            left join smt_reconciliation r on pr.reconciliation_no = r.reconciliation_no
        <where>
            <if test="reconciliationNo != null and reconciliationNo != ''">and pr.reconciliation_no = #{reconciliationNo}</if>
            <if test="reconciliationTime != null and reconciliationTime != ''">and date_format( r.reconciliation_time, '%Y-%m' ) = #{reconciliationTime}</if>
            <if test="receiveType != null and receiveType != ''">and r.fee_type = #{receiveType}</if>
        </where>
    </select>

    <!--统计应付模块付款利润-->
    <select id="getPaymentProfitReportList" resultType="com.ruoyi.project.smt.financereport.vo.FinanceReportVO">
        SELECT
            total_payment AS totalPayment,
            payment_type AS paymentType,
            years,
            months
        FROM
            (
        SELECT
            sum( a.payment_amount ) AS total_payment,
            b.payment_type,
            DATE_FORMAT( b.reconciliation_time, '%Y' ) AS years,
            date_format( b.reconciliation_time, '%m' ) AS months
        FROM
            `smt_apply_record` a
            LEFT JOIN smt_payment_apply b ON a.payment_no = b.payment_no
        GROUP BY
            b.payment_type,
            b.reconciliation_time,
            date_format( b.reconciliation_time, '%Y-%m' )
            ) record
        WHERE
            record.years = 2020
            ORDER BY months
    </select>

    <insert id="insertSmtPaymentRecord" parameterType="SmtPaymentRecord" useGeneratedKeys="true" keyProperty="id">
        insert into smt_payment_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reconciliationNo != null ">reconciliation_no,</if>
            <if test="paymentAmount != null ">payment_amount,</if>
            <if test="paymentWay != null  and paymentWay != ''">payment_way,</if>
            <if test="paymentName != null  and paymentName != ''">payment_name,</if>
            <if test="paymentNumber != null  and paymentNumber != ''">payment_number,</if>
            <if test="paymentTime != null ">payment_time,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reconciliationNo != null ">#{reconciliationNo},</if>
            <if test="paymentAmount != null ">#{paymentAmount},</if>
            <if test="paymentWay != null  and paymentWay != ''">#{paymentWay},</if>
            <if test="paymentName != null  and paymentName != ''">#{paymentName},</if>
            <if test="paymentNumber != null  and paymentNumber != ''">#{paymentNumber},</if>
            <if test="paymentTime != null ">#{paymentTime},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateSmtPaymentRecord" parameterType="SmtPaymentRecord">
        update smt_payment_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="reconciliationNo != null ">reconciliation_no = #{reconciliationNo},</if>
            <if test="paymentAmount != null ">payment_amount = #{paymentAmount},</if>
            <if test="paymentWay != null  and paymentWay != ''">payment_way = #{paymentWay},</if>
            <if test="paymentName != null  and paymentName != ''">payment_name = #{paymentName},</if>
            <if test="paymentNumber != null  and paymentNumber != ''">payment_number = #{paymentNumber},</if>
            <if test="paymentTime != null ">payment_time = #{paymentTime},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSmtPaymentRecordById" parameterType="Integer">
        delete from smt_payment_record where id = #{id}
    </delete>

    <delete id="deleteSmtPaymentRecordByIds" parameterType="String">
        delete from smt_payment_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据付款单号删除付款记录-->
    <delete id="deleteSmtPaymentRecordByPaymentNos" parameterType="String">
        delete from smt_payment_record where reconciliation_no in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>