<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改电子料信息')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-dzl-edit" th:object="${smtDzl}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>电子料名称：</label>
                <div class="col-sm-6">
                    <input name="dzlName" th:field="*{dzlName}" class="form-control" type="text" required readonly>
                </div>
            </div>

            <div class="form-group">    
                <label class="col-sm-3 control-label">电子料类型：</label>
                <div class="col-sm-6">
                    <input name="typeName" th:field="*{typeName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-6">
                    <textarea id="remark"  th:field="*{remark}" name="remark" class="form-control">[[*{remark}]]</textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "smt/dzl";
        $("#form-dzl-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-dzl-edit').serialize());
            }
        }
    </script>
</body>
</html>