<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增付款申请')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-paymentApply-add">
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>收款单位：</label>
            <div class="col-sm-5">
                <select name="receiveId" onchange="changeUnit(this)" id="receiveId" class="form-control select2-selection--multiple" th:with="reciveList=${@receive.getPaymentInfo()}" required>
                    <option value="">请选择</option>
                    <option th:each="r:${reciveList}" th:value="${r.id}" th:text="${r.collectionUnit}"></option>
                </select>

            </div>
            <span style="float: left;margin-top: 7px;">户名：</span>
            <div class="col-sm-2" style="padding-left: 0px!important;width: 20%!important;">
                <input id="accountName" class="form-control" type="text" placeholder="自动获取" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">卡<span style="margin-right: 26px"></span>号：</label>
            <div class="col-sm-8">
                <input id="accountNumber" class="form-control" type="text" placeholder="选择收款单位自动获取" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">开户银行：</label>
            <div class="col-sm-8">
                <input id="accountBank" class="form-control" type="text" placeholder="选择收款单位自动获取" readonly>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>付款类型：</label>
            <div class="col-sm-8">
                <select name="paymentType" required class="form-control" th:with="type=${@dict.getType('smt_payment_type')}">
                    <option value="">请选择</option>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span>金<span style="margin-right: 26px"></span>额：</label>
            <div class="col-sm-8">
                <input name="applyAmount" class="form-control" type="number" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">付款原因：</label>
            <div class="col-sm-8">
                <input name="paymentReason" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">附件回执：</label>
            <div class="col-sm-8">
                <input name="" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备<span style="margin-right: 26px"></span>注：</label>
            <div class="col-sm-8">
                <textarea id="remark" name="remark" class="form-control"></textarea>
            </div>
        </div>

    </form>
</div>
<th:block th:include="include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "smt/paymentApply"
    $("#form-paymentApply-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-paymentApply-add').serialize());
        }
    }

    //切换收款单位,获取付款账户信息
    function changeUnit(obj) {
        let id = obj.value;
        if (null != id && "" != id) {
            $.ajax({
                url: prefix + "/getPaymentInfoById",
                data: {
                    id: id
                },
                type: "post",
                success: function (result) {
                    $("#accountName").val(result.accountName);
                    $("#accountNumber").val(result.accountNumber);
                    $("#accountBank").val(result.accountBank);
                }
            })
        }else{
            $("#accountName").val("");
            $("#accountNumber").val("");
            $("#accountBank").val("");
        }
    }
</script>
</body>
</html>