<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings>
		<setting name="cacheEnabled"             value="true" />  <!-- 全局映射器启用缓存 -->
		<setting name="useGeneratedKeys"         value="true" />  <!-- 允许 JDBC 支持自动生成主键 -->
		<setting name="defaultExecutorType"      value="REUSE" /> <!-- 配置默认的执行器 -->
		<setting name="logImpl"                  value="SLF4J" /> <!-- 指定 MyBatis 所用日志的具体实现 -->
		<!-- <setting name="mapUnderscoreToCamelCase" value="true"/>  驼峰式命名 -->
	</settings>

	<typeAliases>
		<typeAlias alias="SmtDzl" type="com.ruoyi.project.smt.dzl.domain.SmtDzl" />
		<typeAlias alias="SmtBom" type="com.ruoyi.project.smt.bom.domain.SmtBom" />
		<typeAlias alias="SmtCus" type="com.ruoyi.project.smt.cus.domain.SmtCus" />
		<typeAlias alias="SmtBomLine" type="com.ruoyi.project.smt.bomLine.domain.SmtBomLine" />
		<typeAlias alias="SmtOrderEntry" type="com.ruoyi.project.smt.entry.domain.SmtOrderEntry" />
		<typeAlias alias="SmtOrderEntryVO" type="com.ruoyi.project.smt.entry.vo.SmtOrderEntryVO" />
		<typeAlias alias="SmtOrderEntryLine" type="com.ruoyi.project.smt.entryLine.domain.SmtOrderEntryLine" />
		<typeAlias alias="SmtDeliveryRecord" type="com.ruoyi.project.smt.delivery.domain.SmtDeliveryRecord" />
		<typeAlias alias="SmtProductShip" type="com.ruoyi.project.smt.ship.domain.SmtProductShip" />
		<typeAlias alias="SmtReconciliation" type="com.ruoyi.project.smt.reconciliation.domain.SmtReconciliation" />
		<typeAlias alias="SmtPaymentRecord" type="com.ruoyi.project.smt.paymentrecord.domain.SmtPaymentRecord" />
		<typeAlias alias="SmtPaymentInfo" type="com.ruoyi.project.smt.paymentinfo.domain.SmtPaymentInfo" />
		<typeAlias alias="SmtPaymentApply" type="com.ruoyi.project.smt.paymentapply.domain.SmtPaymentApply" />
	</typeAliases>
</configuration>
