<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('FPC在线列表')"/>
</head>
<style>
    .selectHeight {
        height: 34px !important;
    }

    .inputHeight {
        line-height: 24px;
        width: 80px !important;
    }
</style>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p class="inputHeight">客户名称：</p>
                            <select name="cusCode" class="form-control select2-selection--multiple selectHeight" th:with="cusList=${@cus.getCus()}" onchange="$.table.search()">
                                <option value="">请选择</option>
                                <option th:each="c:${cusList}" th:value="${c.cusCode}" th:text="${c.cusName}"></option>
                            </select>
                        </li>
                        <li>
                            <p class="inputHeight">订单编号：</p>
                            <input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" class="selectHeight" name="orderNo"/>
                        </li>

                        <li>
                            <p class="inputHeight">物料名称：</p>
                            <input type="text" class="selectHeight" name="bomName"/>
                        </li>


                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-danger multiple disabled" onclick="returns()" shiro:hasPermission="smt:ship:returns">
                <i class="fa fa-edit"></i> 退货
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    let returnsFlag = [[${@permission.hasPermi('smt:ship:returns')}]];
    let prefix = ctx + "smt/ship";

    var bigArr = [];

    $(function () {
        var options = {
            uniqueId: "orderNo",
            url: prefix + "/fpcOnLineList",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            rememberSelected: true,
            modalName: "产品出货",
            onCheckAll: function (rows) {
                if (rows.length > 0) {
                    for (let row of rows) {
                        let obj = new Object();
                        obj.cusCode = row.cusCode;
                        obj.cusName = row.cusName;
                        obj.orderNo = row.orderNo;
                        obj.orderType = row.orderType;
                        obj.typeName = row.typeName;
                        obj.bomName = row.bomName;
                        obj.bomId = row.bomId;
                        obj.sumDeliveryQty = row.sumDeliveryQty;
                        bigArr.push(obj)
                    }
                }
            },
            onUncheckAll: function (row) {
                //取消全选，则清空数组，是清空所有页面数组
                bigArr = [];
            },
            onCheck: function (row) {
                let obj = new Object();
                obj.cusCode = row.cusCode;
                obj.cusName = row.cusName;
                obj.orderNo = row.orderNo;
                obj.orderType = row.orderType;
                obj.typeName = row.typeName;
                obj.bomName = row.bomName;
                obj.bomId = row.bomId;
                obj.sumDeliveryQty = row.sumDeliveryQty;
                bigArr.push(obj)
            },
            onUncheck: function (row) {
                //单个行取消选中，移除当前对象
                for (let i = 0; i < bigArr.length; i++) {
                    if (bigArr[i].bomId == row.bomId) {
                        bigArr.splice(i,1);
                    }
                }
            },
            columns: [
                {
                    field: 'state',
                    checkbox: true
                },
                {
                    title: "序号",
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'cusName',
                    title: '客户编码'
                },
                {
                    field: 'orderNo',
                    title: '订单号'
                },
                {
                    field: 'typeName',
                    title: '物料类型',
                    formatter: function (value, row, index) {
                        return 'FPC';
                    }

                },
                {
                    field: 'bomName',
                    title: '物料名称'
                },
                {
                    field: 'sumDeliveryQty',
                    title: '在线数量'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + returnsFlag + '" href="javascript:void(0)" ' +
                            'onclick="ship(\'' + row.cusCode + '\',\'' + row.cusName + '\',\'' + row.orderNo + '\',' + row.bomId + ',\'' + row.bomName + '\',\'' + row.typeName + '\',' + row.orderType + ',\'' + row.sumDeliveryQty + '\')"><i class="fa fa-edit"></i>出货</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    /**
     * 退货
     * */
    function returns() {
        table.set();
        //let rows = $("#bootstrap-table").bootstrapTable('getSelections');

        if (bigArr.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        debugger
        //判断如果不是同一个客户，禁止操作
        for (let i = 0; i < bigArr.length; i++) {
            if (i < bigArr.length - 1) {
                if (bigArr[i].cusCode != bigArr[i + 1].cusCode) {
                    $.modal.msgWarning("禁止操作不同客户!")
                    return;
                }
            }
        }

        window.localStorage.setItem('fpcReturnsList', JSON.stringify(bigArr));
        let url = prefix + "/fpcReturns";
        $.modal.open("FPC在线退货", url, "1100", "750");
    }


    /**
     * 出货
     * @param cusCode       客户编码
     * @param cusName       客户名称
     * @param orderNo       订单号
     * @param bomId         bomId
     * @param dzlName       物料名称
     * @param typeName      类型名称
     * @param orderType     类型
     * @param shipQty       可出货数量
     */
    function ship(cusCode, cusName, orderNo, bomId, bomName, typeName, orderType, sumDeliveryQty) {
        let arr = new Array();
        let obj = new Object();
        obj.cusCode = cusCode;
        obj.cusName = cusName;
        obj.orderNo = orderNo;
        obj.bomId = bomId;
        obj.bomName = bomName;
        obj.typeName = typeName;
        obj.orderType = orderType;
        obj.sumShipQty = sumDeliveryQty;
        arr.push(obj);
        window.localStorage.setItem('fpcShipList', JSON.stringify(arr));
        let url = prefix + "/fpcShipHome";
        $.modal.open("FPC在线出货", url, "1100", "750");
    }
</script>
</body>
</html>