<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改客户bom信息')"/>
</head>
<style>
    .ui-jqgrid-htable th {
        height: 40px;
        border-right: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        background-color: #9e9e9e1f;
        text-align: center;
    }

    .ui-jqgrid-htable th span {
        display: none;
    }

    #bomTable {
        background-color: #f6f6f6;
    }

    #bomTable tr {
        height: 20px;
        font-size: 16px;
    }

    #bomTable tr td input {
        height: 95%;
        width: 95%;
    }

    #bomTable tr td {
        height: 35px;
        border-right: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
    }

    .bomDiv {
        box-shadow: none;
        padding-bottom: 0px;
    }

    select {
        width: 95%;
        height: 95% !important;
    }

    .textarea-width {
        width: 888px
    }

    .remark-width {
        width: 82.5px
    }

    .del_icon {
        color: red;
    }

    .del_icon:hover {
        transform: scale(1.4);
    }

    .legend-color {
        color: #1890ff;
    }
</style>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-bom-edit" th:object="${smtBom}">
        <input name="id" th:field="*{id}" type="hidden" id="bomId">
        <input type="hidden" id="bomLineList" name="bomLineList">
        <fieldset>
            <legend class="legend-color">基本信息</legend>
            <div class="col-md-12">
                <div class="col-md-4" style="margin-right: 0px">
                    <div class="form-group">
                        <label class="col-sm-3 control-label nopadding"><span style="color: red; ">*</span>客户名称：</label>
                        <div class="col-sm-8 nopadding">
                            <select name="cusCode" class="form-control select2-selection--multiple" th:with="cusList=${@cus.getCus()}" required>
                                <option value="">===请选择===</option>
                                <option th:each="c:${cusList}" th:value="${c.cusCode}" th:text="${c.cusName}" th:selected="${smtBom.cusCode eq c.cusCode}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-sm-3 control-label nopadding"><span style="color: red; ">*</span>名称：</label>
                        <div class="col-sm-8 nopadding">
                            <input type="text" name="bomName" class="form-control" maxlength="32" th:field="*{bomName}" placeholder="请输入bom名称" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-sm-3 control-label nopadding"><span style="color: red; ">*</span>总点数：</label>
                        <div class="col-sm-8 nopadding">
                            <input type="text" name="bomPoint" class="form-control" th:field="*{bomPoint}" maxlength="16" onkeyup="this.value=this.value.replace(/\D/g,'')" placeholder="请输入总点数" required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-12 form-group">
                    <label class="col-sm-1 control-label nopadding remark-width">备<span style="margin-right: 25px;"></span>注：</label>
                    <div class="col-sm-9 nopadding">
                        <input type="text" id="remark" name="remark" th:field="*{remark}" placeholder="(选填)" class="form-control textarea-width">
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class="legend-color" style="margin-bottom: 0px;">详细信息</legend>
            <div class="container-div">
                <div class="row">
                    <div class="col-sm-12 select-table table-striped bomDiv">
                        <table id="bomTable" class="ui-jqgrid-htable"></table>
                        <a class="btn btn-success" onclick="addTableBtn('bomTable')" shiro:hasPermission="smt:bom:add">
                            <i class="fa fa-plus"></i> 新增
                        </a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<th:block th:include="include :: footer"/>
<script th:src="@{/ruoyi/jqGrid/4.6/js/jquery.jqGrid.js}"></script>
<script th:src="@{/ruoyi/jqGrid/4.6/i18n/grid.locale-cn.js}"></script>
<link th:href="@{/ruoyi/jqGrid/4.6/css/ui.jqgrid.css}">
<script type="text/javascript">
    const prefix = ctx + "smt/bom";
    $(document).ready(function () {
        $("#form-bom-edit").validate({
            focusCleanup: true
        });
        //加载明细信息
        loadTable();
    });


    function submitHandler() {
        if ($.validate.form()) {
            saveAllRows("bomTable");
            let tableData = $("#bomTable").jqGrid("getRowData");
            let dataArr = new Array();
            for (let elem of tableData) {
                if (elem.dzlId != "''") {
                    let arr = new Object();
                    arr.dzlId = elem.dzlId;
                    arr.dzlNumber = elem.dzlNumber;
                    arr.position = elem.position;
                    arr.bak = elem.bak;
                    arr.remark = elem.remark;
                    dataArr.push(arr);
                }
            }
            if (dataArr.length == 0) {
                $.modal.alertWarning("缺少bom详细信息!");
                editAllRows("bomTable");
                return;
            }
            $("#bomLineList").val(JSON.stringify(dataArr));
            $.operate.save(prefix + "/edit", $('#form-bom-edit').serialize());
        }
    }

    //页面加载数据
    function loadTable() {
        let bomId = $("#bomId").val();
        $.ajax({
            url: prefix + "/getBomLineById",
            data: {
                bomId: bomId
            },
            type: "post",
            success: function (result) {
                initTable("bomTable", result);
                editAllRows("bomTable");
            }
        })
    }

    //初始化表格
    function initTable(obj, data) {
        $("#" + obj).jqGrid({
            data: data,
            datatype: "local",
            height: 'auto',
            beforeSelectRow: function (rowid, e) {
                return false
            },
            colNames:
                [
                    "电子料",
                    "类型",
                    "用量",
                    "件位",
                    "备品",
                    "说明",
                    "操作"
                ],

            colModel: [
                {
                    sortable: false, name: 'dzlId', align: "center", index: 'dzlId',
                    editable: true,
                    formatter: "select",
                    edittype: "select",
                    width: '200px',
                    editoptions: {
                        value: getAllDzl(),
                        dataEvents: [
                            {
                                type: 'change',
                                fn: function (e) {
                                    let dzlList = JSON.parse(window.localStorage.getItem('dzlList'));
                                    let val = this.value;
                                    $(this).parent().next().children("input").val("");
                                    if (dzlList) {
                                        for (let i = 0; i < dzlList.length; i++) {
                                            if (dzlList[i].id == val) {
                                                let typeName = dzlList[i].typeName;
                                                $(this).parent().next().children("input").val(typeName);
                                                break;
                                            }
                                        }
                                    }
                                }
                            }
                        ]
                    },

                },
                {
                    sortable: false, name: 'typeName', align: "center", index: '', editable: false, width: '100px',
                    formatter: function (value, options, object) {
                        if (value) {
                            return '<input type="text" value="' + value + '"  role="textbox" class="editable valid" style="width: 98%;" readonly>'
                        } else {
                            return '<input type="text"  role="textbox" class="editable valid" style="width: 98%;" readonly>';
                        }
                    }
                },
                {
                    sortable: false, name: 'dzlNumber', align: "center", index: 'dzlNumber', editable: true, width: '100px',
                    editoptions: {
                        maxlength: 8,
                        dataEvents: [
                            {
                                type: 'keyup',
                                fn: function (e) {
                                    let val = this.value;
                                    $(this).val(val.replace(/\D/g, ''));
                                }
                            }
                        ]
                    },
                },
                {sortable: false, name: 'position', align: "center", index: 'position', editable: true, width: '250px'},
                {
                    sortable: false, name: 'bak', align: "center", index: 'bak', editable: true, width: '100px',
                    editoptions: {
                        maxlength: 8,
                        dataEvents: [
                            {
                                type: 'keyup',
                                fn: function (e) {
                                    let val = this.value;
                                    $(this).val(val.replace(/\D/g, ''));
                                }
                            }
                        ]
                    },
                },
                {sortable: false, name: 'remark', align: "center", index: 'remark', editable: true},
                {
                    sortable: false, name: '', align: "center", index: '', editable: false, width: '60px',
                    formatter: function (value, options, object) {
                        return "<a href='#' onclick='deleteT(" + options.rowId + ",\"bomTable\")' class='btnList' title=\"删除本条数据\"><i class='fa fa-trash-o del_icon'></i></a>"
                    }
                },
            ],
            rownumbers: true,
            cellsubmit: "clientArray",//编辑后本地保存
            autowidth: true,
        });
        $("#list").jqGrid('setGridWidth', 1010);
        jQuery("#bomTable").jqGrid('setLabel', 'rn', '序号', {'text-align': 'center', 'vertical-align': 'middle', 'width': '40px'});
        // 遍历jqgrid 使其序号列宽度为40
        $("#bomTable tbody").each(function () {//jqgrid 创建的表格都有role属性为grid
            $('td:first').css("width", "40px"); // 使表体的序号列宽度为40
        });
        editAllRows("bomTable");
    }

    /**
     * 获取所有的电子料
     */
    function getAllDzl() {
        let html = "'':请选择;";
        $.ajax({
                type: "POST",
                url: prefix + "/getAllDzl",
                async: false,
                error: function (request) {
                    $.modal.alertError("系统错误");
                },
                success: function (data) {
                    if (data) {
                        window.localStorage.setItem('dzlList', JSON.stringify(data));
                        for (var i = 0; i < data.length; i++) {
                            if (i != data.length - 1) {
                                html += data[i].id + ":" + data[i].dzlName + ";";
                            } else {
                                html += data[i].id + ":" + data[i].dzlName;// 这里是option里面的 value:label
                            }
                        }
                    }
                }
            }
        )
        return html;
    }

</script>
</body>
</html>